Options +FollowSymLinks
RewriteEngine On

RewriteEngine On
RewriteCond %{HTTP_HOST} ^simonmotelle.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www.simonmotelle.fr$
RewriteRule (.*)$ https://patteduweb.fr/ [R=301,L]

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE,QSA]

RewriteEngine On
	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

